<div class="container-fluid">
  <h2>Om mig</h2>

  <p>
      Jag heter Ahmed Mukhtar, har utbildat mig till IT tekniker på gymnasienivå men sen började jag läsa Mobil handel program på yrkeshögskola där jag läste mycket om marknadsföring, säljande design och programmering inom webben. jobbat mycket med wordpress och e-handel system, javascript med några bibliotek t.ex. reactjs, ES6, Jquery. Har haft tjugo veckors praktik på Xlent, jobbat med Angular 2, less och lite med Entity framework. har gjort olika projekt med hjälp av angular, bootstrap, less.
      
      Nu är jag på sista delen i min andra utbildning (ios och android programmering) på yrkeshögskola. Som praktikant är jag på Codemill och jobba med olika projekt med hjälp av react native och swift ->  jag håller på med att bygga video player med swift men också react native.
      </p>
    
</div>