<div class="body">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="slide1"><h2 class="welcome_header"> <i class="fab fa-angular"></i> Angular</h2>
                  <p>Vi bygger webb applikationer med Angular, Angular är Open-Source och utvecklas av Google. Angular lägger till nya attribut på HTML-element genom olika direktiv. Det finns ett antal inbyggda direktiv i Angular. Vi kan även skapa våra egna direktiv</p>
                  </div>
                </div>
                <div class="carousel-item">
                    <div class="slide2"><h2 class="welcome_header"><i class="fab fa-react"></i> React js</h2>
                      <p>React är ett effektivt och flexibelt Javascript bibliotek som används för att bygga användargränsnitt. Enkelt förklarat är ett Javascript bibliotek ett typ av bibliotek som har färdiga funktioner man använder sig utav när man skriver Javascript. Ett bibliotek gör det alltså enklare att skriva komplex kod</p>
                    </div>
      
                  </div>
                <div class="carousel-item">
                    <div class="slide3"><h2 class="welcome_header"><i class="fab fa-react"></i> React Native</h2>
                      <p>React Native är ett ramverk för apputveckling med framförallt JavaScript. Det skapades av Facebook och har på kort tid blivit en stomme för apputvecklare</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                      <div class="slide4"><h2 class="welcome_header"><i class="fab fa-python"></i> Django </h2>
                        <p>Django är ett ramverk för utveckling av webbsidor. Django är skrivet i Python. ... Syftet med Django är att göra det enklare att utveckla avancerade databas-drivna webbplatser.</p>
      
                      </div>
                    </div>
              </div>
      
              <div class="container">
                  <img class="mx-auto d-block" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3Lm2L0pyfGnZhG6cL92k-9tZrSdpfYBjDUkbTF5AmXycI3t0utw">  
               </div>
               
               <div class="container">
                  <div class="row">
                    <div class="col">
                      <h2 style="font-size: 50px; padding: 30px; text-align: center;">Vi använder följande teknik för att designa och bygga fin webb application åt dej</h2>
                    </div>
                  </div>
                </div>
              <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="card-header animated flash"><span>Angular</span></div>
                      </div>
                      <p>Vi bygger webb applikationer med Angular, Angular är Open-Source och utvecklas av Google. Angular lägger till nya attribut på HTML-element genom olika direktiv. Det finns ett antal inbyggda direktiv i Angular. Vi kan även skapa våra egna direktiv</p>
                    </div>
                    <div class="col">
                        <div class="card">
                          <div class="card-header flash animated rubberBand"><span>React js</span></div>
                        </div>
                        <p>React är ett effektivt och flexibelt Javascript bibliotek som används för att bygga användargränsnitt. Enkelt förklarat är ett Javascript bibliotek ett typ av bibliotek som har färdiga funktioner man använder sig utav när man skriver Javascript. Ett bibliotek gör det alltså enklare att skriva komplex kod</p>
                      </div>
                   
                      <div class="col">
                          <div class="card">
                            <div class="card-header animated flash"><span>React Native</span></div>
                          </div>
                          <p>React Native är ett ramverk för apputveckling med framförallt JavaScript. Det skapades av Facebook och har på kort tid blivit en stomme för apputvecklare</p>
                        </div>
                    
                        <div class="col">
                            <div class="card">
                              <div class="card-header animated bounceIn"><span>Django</span></div>
                            </div>
                            <p>Django är ett ramverk för utveckling av webbsidor. Django är skrivet i Python. ... Syftet med Django är att göra det enklare att utveckla avancerade databas-drivna webbplatser.</p>
                          </div>
                  </div>
                </div>
      </div>
      
  </div>
