._6-0i{color:inherit}._6-0j{background-color:#f2f3f5;margin:0 -12px;position:relative}._6-0k{flex-shrink:0;padding:12px}._6-0l{flex-shrink:0}._6-0v{flex-grow:1;padding:0 12px}._6-0w,._6-0w a{color:#1c1e21}._6-0x{padding-top:4px;width:100%}._6-0x,._6-0x a{color:#606770;font-size:14px;line-height:20px}._6-0j ._oqb{border-width:1px}
._3kdw{color:#4b4f56}
._5sau{bottom:0;color:#000;margin:10px;position:absolute;right:0}._3nmc,._29pg{color:#4b4f56}._3o9h{color:#fff}._5tzn{float:left}
._3v07{margin-top:-2px}._3v07 .groupsJumpBarTop{background-color:#fff;border-radius:0 0 1px 1px}._3v07 .groupsJumpTitle{color:#3b5998;margin-right:0;padding:0}
._39kr{margin-top:-16px}._39ks{margin-left:-6px}

#bootloader_yP7_E{height:42px;}.bootloader_yP7_E{display:block!important;}