<div class="container-fluid">

  <div class="row">
    <h2>Coming soom !</h2>
  </div>
<div class="row" style="background-color: aquamarine;">
  <div class="col animated flash"><h2> <i style="color: red; font-size: 60px; padding: 8px; " class="fab fa-react"></i>React js</h2>
  <p>React är ett effektivt och flexibelt Javascript bibliotek som används för att bygga användargränsnitt. Enkelt förklarat är ett Javascript bibliotek ett typ av bibliotek som har färdiga funktioner man använder sig utav när man skriver Javascript. Ett bibliotek gör det alltså enklare att skriva komplex kod</p>
  </div>
  <div class="col" style="background-color: thistle"><h2><i style="color: black; font-size: 60px; padding: 8px;  margin-top: 10px; " class="fab fa-react"></i>React Native</h2>
    <p>React Native är ett ramverk för apputveckling med framförallt JavaScript. Det skapades av Facebook och har på kort tid blivit en stomme för apputvecklare</p>
</div>

</div>

<div class="row" style="background-color: bisque;">
    <div class="col animated pulsa" style="background-color: whitesmoke"><h2><i style=" background-color: red; color: white; font-size: 60px; margin-top: 10px; padding: 8px; border-radius: 50% " class="fab fa-angular"></i> Angular</h2>
      <p>Vi bygger webb applikationer med Angular, Angular är Open-Source och utvecklas av Google. Angular lägger till nya attribut på HTML-element genom olika direktiv. Det finns ett antal inbyggda direktiv i Angular. Vi kan även skapa våra egna direktiv</p>

    </div>
    <div class="col" style="background-color: snow"><h2> <i style="background-color: green; color: white; font-size: 60px; padding: 10px;  margin: 10px; border-top-right-radius: 80% "  class="fab fa-vuejs"></i>Vue js</h2>
    <p>Vue är ett ramverk som kan användas till att bygga användargränssnitt i webbläsaren. Det är ett alternativ till andra populära ramverk</p></div>
   
  </div>
 
  <div class="row" style="background-color: seashell">
      <div class="col">
        <h2><i style="background-color: green; color: black; font-size: 60px; padding: 10px;  margin: 10px; border-top-right-radius: 100% "  class="fab fa-python"></i> Django</h2>
        <p>
            Django är ett ramverk för utveckling av webbsidor. Django är skrivet i Python. ... Syftet med Django är att göra det enklare att utveckla avancerade databas-drivna webbplatser.
        </p>
      </div>
    </div>

    <div class="row" style="background-color: #e1e1e1;">
        <div class="col">
          <h1><i class="fab fa-bootstrap"></i>Bootstrap,<i class="fab fa-css3-alt"></i> CSS, <i class="fab fa-less"></i>LESS</h1>
          <p><strong>Vi använder de här tekniker för att designa och bygga webbapplicationer</strong></p>
        </div>
      </div>
</div>